mixin image(imgSrc,alt,width,height)
    if width && height 
        img(src=`./assets/images/${imgSrc}` alt=alt width=width height=height)
    else if width 
        img(src=`./assets/images/${imgSrc}` alt=alt width=width)
    else
        img(src=`./assets/images/${imgSrc}` alt=alt width=width)

mixin interviewArticle(name)
    .aside-inter
        .aside-nav 
            button= name
            button More +
        .aside-body 
            figure 
                +image("1.jpg","flutter")
                figcaption #{sampleTitle}
            p. 
                #{samplePara}

mixin connectedNews 
    each ind in [1,2,3,4,5,6,7,8,9,10,11,12,13]
        .aside-img-link 
            +image(`p${(ind%4)+1}.jpg`)
            a(href="#") #{sampleParaShort}